name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Install Deps
      run: sudo apt-get update && sudo apt-get install protobuf-compiler
    - name: Build
      run: cargo build
    - name: Lint
      run: cargo clippy
    - name: Run tests
      run: cargo test
